/* -----Шрифт PT Sans-----*/
@font-face {
  font-family: PTSans;
  font-weight: 400;
  src: url(../1771855-sedona-31/fonts/PTSans.woff) format("woff"), url(../1771855-sedona-31/fonts/PTSans.woff2) format("woff2");
}
@font-face {
  font-family: PTSans;
  font-weight: 700;
  src: url(../1771855-sedona-31/fonts/PTSans-Bold.woff) format("woff"), url(../1771855-sedona-31/fonts/PTSans-Bold.woff2) format("woff2");
}
/*-----------------------------------*/

/* ----BODY---- */
body {
  font-family: PTSans, Arial, sans-serif;
  padding: 0;
  margin: 0;
  background: #888888;
}
.body {
  margin: 0 auto;
  height: 2762px;
  width: 1280px;
  background: #EEEEEE;;
}
.main {
  display: flex;
  flex-direction: column;
  height: 2762px;
  width: 1200px;
  margin: 0 40px 0 40px;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px 3px #888888;
}
/*-----------------------------------*/



