/* -----Шрифт PT Sans-----*/
@font-face {
  font-family: PTSans;
  font-weight: 400;
  src: url(../fonts/ptsans.woff) format("woff"),
   url(../fonts/ptsans.woff2) format("woff2");
}
@font-face {
  font-family: PTSans;
  font-weight: 700;
  src: url(../fonts/ptsans-bold.woff) format("woff"),
  url(../fonts/ptsans-bold.woff2) format("woff2");
}
/*-------------- color ----------------*/
:root {
  --basic-white:  #ffffff;
  --basic-white_opacity: rgba(255, 255, 255, 0.3);
  --basic-gray: #EEEEEE;
  --basic-gray_gray: #EBEBEB;
  --basic-new_gray: #F2F2F2;
  --basic-blond_gray: #CACACA;
  --basic-black: #000000;
  --basic-blue: #81B3D2;
  --basic-darkblue: #669EC0;
  --basic-blue_blue: #5496BD;
  --basic-brown: #766357;
  --basic-darkbrown: #503E33;
  --basic-brown_brown: #604E43;
  --basic-lite_black: #333333;
  --basic-grayone: #E5E5E5;
  --basic-darkgray: #666666;
  --basic-lite_white: rgba(255, 255, 255, 0.9);
  --basic-lite_gray: rgba(0, 1, 1, 0.2);
  --basic-lite_blue: rgb(218, 238, 250);
  --basic-lite_brown: rgb(230, 173, 148);
  --basic-new_brown: rgb(201, 186, 185);
  --basic-opacity: rgba(255, 255, 255, 0.9);
  --basic-newshadow: rgba(0, 1, 1, 0.15);
}

.page {
  height: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
/* ----BODY---- */
.page-body {
  font-family: "PTSans", "Arial", sans-serif;
  padding: 0;
  margin: 0;
  background: var(--basic-gray);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  min-width: 1200px;
}
.container {
  overflow: hidden;
  margin: 0 auto;
  min-height: 100%;
  width: 1200px;
  align-content: start;
  background: var(--basic-white);
  box-shadow: 0px 5px 15px var(--basic-lite_gray);

  display: grid;
  grid-template-rows: auto 1fr 120px;
}

/* ------------------------ header ----------------------*/
.main-header{
  position: relative;
  width: 100%;
}
.main-header img {
  position: absolute;
  width: 138px;
  height: 70px;
  top: 0;
  left: 531px;
  z-index: 1;
}
.nav__item {
  text-decoration: none;
  color: var(--basic-black);
  font-weight: 700;
}
.nav__list {
  list-style: none;
  line-height: 26px;
  margin: 0;
  padding: 0;
  width: 1056px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 228px 1fr 1fr 227px;
}
.nav__list li {
  margin: 15px 0;
}

.nav__list li:nth-child(4n+3),
.nav__list li:nth-child(4n+4) {
  justify-self: end;
}
.nav__item-active {
  color: var(--basic-brown);
  font-weight: 700;
}
.nav__list a:hover {
  color: var(--basic-blue);
}
.nav__list a:active {
  color: var(--basic-black);
  opacity: 0.3;
}


/*-------------------------- main --------------------*/
/* ------------- main index ------------*/
.back-photo {
  position: relative;
  width: 1200px;
  height: 509px;
  background: var(--basic-lite_blue) url(../img/image_index/background_photo.jpg) no-repeat 0 0;
}
.back-photo img {
  position: absolute;
  width: 456px;
  height: 350px;
  top: 77px;
  left: 371px;
}
.back-photo__mask {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 57px;
  width: 1200px;
  background: url(../img/icons/mask.svg) no-repeat;
}
/*text*/
.text {
  min-height: 216px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-lite_black);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 519px;
}
.text__subtitle {
  padding: 0;
  margin: 42px 0 16px;
  width: 470px;
  min-height: 80px;
  font-size: 21px;
  font-weight: 700;
  color: var(--basic-black);
}
.text__desc {
  padding: 0;
  margin: 0 0 51px;
  width: 519px;
}

/*feature-first*/
.feature-first__list {
  display: grid;
  grid-template-columns: 400px 800px;
  list-style: none;
  margin: 0;
  padding: 0;
  background: var(--basic-blue);
  color: var(--basic-white);
  text-align: center;
  align-items: center;
}
.feature-first__item {
  margin: 0 auto;
  width: 310px;
}
.feature-first__item h3 {
  font-size: 21px;
  font-weight: 700;
  padding: 0;
  margin: 47px 0 25px;
}
.feature-first__item p {
  padding: 0;
  margin: 0;
}
.feature-first__item p:nth-of-type(1) {
  margin-bottom: 23px;
}
.feature-first__item p:last-child {
  margin-bottom: 54px;
}
.feature-first__img img {
  background: var(--basic-new_brown);
  display: block;
}

/*benefits*/
.benefits {
  width: 1200px;
  position: relative;
}
.benefits__list {
  list-style: none;
  text-align: center;
  color: var(--basic-lite_black);
  padding: 0;
  margin: 0 65px 0 73px;

  display: flex;
  justify-content: space-between;
}
.benefits__item:nth-child(1) {
  width: 254px;
}
.benefits__item:nth-child(2) {
  width: 297px;
  margin-left: 5px;
}
.benefits__item:nth-child(3) {
  width: 270px;
}
.benefits__item h3 {
  color: var(--basic-black);
  font-weight: 700;
  font-size: 21px;
  padding: 0;
  margin: 160px 0 25px;
}
.benefits__item p {
  padding: 0;
  margin: 0 0 82px;
}
.benefits__item:nth-child(1)::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  background: url(../img/icons/house.svg) no-repeat;
  position: absolute;
  top: 60px;
  left: 162px;
}
.benefits__item:nth-child(2)::before {
  content: "";
  display: block;
  width: 75px;
  height: 70px;
  background: url(../img/icons/burger.svg) no-repeat;
  position: absolute;
  top: 61px;
  left: 562px;
}
.benefits__item:nth-child(3)::before {
  content: "";
  display: block;
  width: 64px;
  height: 77px;
  background: url(../img/icons/suvenirs.svg) no-repeat;
  position: absolute;
  top: 55px;
  right: 168px;
}
/*feature-second*/
.feature-second__list {
  display: grid;
  grid-template-columns: 800px 400px;
  list-style: none;
  margin: 0;
  padding: 0;
  background: var(--basic-blue);
  color: var(--basic-white);
  text-align: center;
  align-items: center;
}
.feature-second__img img {
  background: var(--basic-lite_brown);
  display: block;
}
.feature-second__item {
  margin: 0 auto;
  width: 310px;
}
.feature-second__item h3 {
  font-size: 21px;
  font-weight: 700;
  padding: 0;
  margin: 50px 0 25px;
}
.feature-second__item p {
  padding: 0;
  margin: 0;
}
.feature-second__item p:nth-of-type(1) {
  margin-bottom: 23px;
}
.feature-second__item p:last-child {
  margin-bottom: 51px;
}

/*features*/
.features {
  background: var(--basic-gray);
}
.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--basic-lite_black);
  margin: 0 77px 0 96px;

  display: flex;
  justify-content: space-between;
}
.features__item:nth-child(1) {
  width: 208px;
}
.features__item:nth-child(2) {
  width: 260px;
  margin-left: 20px;
}
.features__item:nth-child(3) {
  width: 246px;
}
.features__item h3 {
  font-weight: 700;
  font-size: 21px;
  color: var(--basic-black);
  margin: 47px 0 25px;
}
.features__item p:nth-of-type(1) {
  padding: 0;
  margin: 0 0 23px;
}
.features__item p:nth-of-type(2) {
  padding: 0;
  margin: 0 0 54px;
}

/*---------- search -----------*/
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-bottom: -395px;
  position: relative;
}
.search__list p {
  padding: 0;
  margin: 0;
}
.search__list {
  width: 568px;
}
.search h2 {
  width: 320px;
  line-height: 24px;
  font-size: 30px;
  font-weight: 700;
  color: var(--basic-black);
  padding: 0;
  margin: 58px 0 7px 119px;
}
.search__text {
  line-height: 24px;
  color: var(--basic-lite_black);
  font-weight: 400;
  margin-bottom: 24px;
  min-height: 95px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.search__text p {
  width: 435px;
}
.search__button {
  text-transform: uppercase;
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-white);
  background: var(--basic-brown);
  border: none;
  padding: 0;
  margin: 0;
}
.search__button:hover {
  background: var(--basic-brown_brown);
}
.search__button:active {
  background: var(--basic-darkbrown);
  color: var(--basic-white_opacity);
}
/*form*/
.search__form {
  width: 458;
  height: 285px;
  background: var(--basic-white);
  box-shadow: 0px 7px 15px var(--basic-newshadow);
  padding: 55px;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  row-gap: 29px 30px 54px;
}
.search-form__item:nth-child(1) {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  position: relative;
}
.search-form__item:nth-child(2) {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  position: relative;
}
.search-form__item:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.search-form__item:nth-child(4) {
  grid-column: 2 / -1;
  grid-row: 3 / 4;
}
.search-form__item:nth-child(1),
.search-form__item:nth-child(2),
.search-form__item:nth-child(3) {
  display: grid;
  grid-template-columns: 112px auto;
}
.search-form__item:nth-child(4) {
  display: grid;
  grid-template-columns: 118px auto;
}
.search-form__item:nth-child(4) label {
  width: 68px;
  margin-left: 53px;
}
.search-form__item label {
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  padding: 0;
  margin: 5px 0 0;
  text-align: left;
}
.search-form__item input {
  font: inherit;
  background: var(--basic-new_gray);
  line-height: 26px;
  border: none;
  height: 38px;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}
.search-form__item .search-form__people {
  width: 42px;
  padding-left: 52px;
  padding-right: 20px;
}
.search-form__item:nth-child(4) input {
  justify-self: end;
}
.search-form__calendar::placeholder {
  color: var(--basic-black);
  font-size: 14px;
  font-weight: 700;
  font-family: "PTSans", "Arial", sans-serif;
  line-height: 26px;
  text-transform: uppercase;
}
.search-form__people::placeholder {
  color: var(--basic-black);
  font-size: 14px;
  font-weight: 700;
  font-family: "PTSans", "Arial", sans-serif;
  line-height: 26px;
}
.search-form__item .search-form__calendar {
  width: 334px;
  background: var(--basic-new_gray);
  grid-column: 2 / -1;
  justify-self: end;
  padding-left: 12px;
}
.search-form__item:nth-child(1)::before,
.search-form__item:nth-child(2)::before {
  content: "";
  width: 21px;
  height: 23px;
  right: 10px;
  top: 8px;
  position: absolute;
  background: url(../img/icons/calendar.svg);
}
.search-form__item:nth-child(2):hover::before,
.search-form__item:nth-child(1):hover::before {
  width: 21px;
  height: 23px;
  background: url(../img/icons/calendarblack.svg);
}
.search-form__item:nth-child(2):active::before,
.search-form__item:nth-child(1):active::before {
  width: 21px;
  height: 23px;
  background: url(../img/icons/calendarblue.svg);
}
.form__button {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-white);
  background: var(--basic-blue);
  border: none;
  height: 58px;
  width: 458px;
  padding: 0;
  margin: 0;

  grid-column: 1 / -1;
  grid-row: -2 / -1;
  align-self: end;
}
.search-form__item .search-form__calendar:hover {
  background: var(--basic-gray_gray);
}
.search-form__item .search-form__calendar:focus  {
  outline: none;
  background: var(--basic-white);
  border: 2px solid var(--basic-gray_gray);
}
.search-form__item input:hover {
  background: var(--basic-gray_gray);
}
.search-form__item input:focus {
  outline: none;
  background: var(--basic-white);
  border: 2px solid var(--basic-gray_gray);
}
.form__button:hover {
  background: var(--basic-darkblue);
}
.form__button:active {
  background: var(--basic-blue_blue);
  color: var(--basic-white_opacity);
}

/*--------- map --------*/
.map {
  width: 1200px;
  height: 594px;
  margin-bottom: -120px;
}
.map img {
  background: var(--basic-gray);
}

/*------------- catalog --------------*/

/*main-filter*/
.main-filter {
  background: var(--basic-blue) url(../img/image_catalog/background.jpg) no-repeat;
  width: 100%;
  color: var(--basic-white);
  min-height: 217px;
}
.main-filter__form {
  margin: 0 auto;
  width: 1055px;

  display: grid;
  grid-template-columns: 255px 255px 1fr 317px;
}
.main-filter__search {
  border: none;
  padding: 0;
  margin-top: 26px;
}
.main-filter__search legend {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  margin-left: -3px;
}
.main-filter__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-filter__item input[type="checkbox"] {
  width: 23px;
  height: 23px;
  margin-left: -3px;
}
.main-filter__item:nth-child(1) {
  margin-bottom: 19px;
}
.main-filter__item:nth-child(2) {
  margin-bottom: 15px;
}
.main-filter__item:nth-child(3) {
  margin: 0;
}
.main-filter__item label {
  margin-left: 17px;
  vertical-align: top;
}
.main-filter__search:nth-child(3) .main-filter__list {
  width: 317px;
  margin-top: 11px;
}
.main-filter__input input[type="range"] {
  width: 317px;
  margin-top: 15px;
}
.main-filter__search:nth-child(1),
.main-filter__search:nth-child(2) {
  grid-row: 1 / 3;
}
.main-filter__search:nth-child(3) {
  grid-column: 4 / -1;
  grid-row: 1 / 2;
}
.main-filter__item:nth-child(1) {
  margin-top: 24px;
}

.main-filter__input input[type="number"] {
  font: inherit;
  background: url(../img/image_catalog/background.jpg) no-repeat center center;
  border: 2px solid var(--basic-white);
  color: var(--basic-white);
  height: 34px;
  padding: 0;
}
.main-filter__form button {
  justify-self: center;
  grid-column: 4 / -1;
  grid-row: 2 / 3;
  width: 137px;
  height: 36px;
  padding: 0;
  margin: 0;
  font: inherit;
  line-height: 21px;
  font-size: 14px;
  font-weight: 400;
  color: var(--basic-white);
  text-transform: uppercase;
  background: url(../img/image_catalog/background.jpg) no-repeat center center;
  border: 2px solid var(--basic-white);
}


/*filter*/
.filter {
  border-bottom: 1px solid var(--basic-grayone);
}
.filter__wrapper {
  line-height: 18px;
  font-size: 12px;
  color: var(--basic-black);
  width: 1055px;
  min-height: 86px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 163px 115px 1fr;

  position: relative;
}
.filter__wrapper h2 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin: 29px 0 0;
}
.filter__wrapper a {
  text-decoration: none;
  color: var(--basic-black);
}
.filter__wrapper p {
  margin: 31px 0 0;
}

.filter__list {
  display: grid;
  grid-template-columns: 81px 82px auto 1fr 22px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.filter__list button {
  padding: 0;
  height: 18px;
  border: none;
  background: none;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dotted var(--basic-blue);
  margin: 32px 0 0;
}
.filter__item button:hover {
  color: var(--basic-blue);
  opacity: 1;
}
.filter__item button:focus {
  outline: none;
  color: var(--basic-blue);
  border: none;
  opacity: 1;
}
.filter__item button:active {
  color: var(--basic-black);
  opacity: 1;
  border: none;
}

.filter__item:nth-child(4) button,
.filter__item:nth-child(5) button {
  width: 11px;
  height: 10px;
  margin-top: 40px;
  border: none;
  opacity: 1;
}
.filter__item:nth-child(4),
.filter__item:nth-child(5) {
  justify-self: right;
}


/*catalog*/
.catalog {
  width: 100%;
}
.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.catalog__item {
  border-bottom: 1px solid var(--basic-grayone);
  position: relative;
}
.product {
  width: 1055px;
  min-height: 150px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 164px 258px 1fr;
}
.product img {
  width: 135px;
  height: 90px;
  margin: 30px 0 0;
}
.product__column {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: min-content min-content min-content;
  column-gap: 6px;
}
.product__column p,
.product__column h3 {
  padding: 0;
  margin: 0;
}
.product__column h3 {
  grid-column: 1 / -1;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 24px;
}
.product__link-link {
  text-decoration: none;
  color: var(--basic-black);
}
.product__link-link:hover {
  color: var(--basic-blue);
}
.product__link-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}
.product__column p {
  margin-top: 7px;
}
.product__link {
  text-decoration: none;
  font-weight: 700;
  color: var(--basic-white);
  text-align: center;
  margin-top: 15px;
  padding-top: 5px;
}
.product__link:nth-of-type(1) {
  height: 22px;
  width: 110px;
  background: var(--basic-blue);
}
.product__link:nth-of-type(1):hover {
  background: var(--basic-darkblue);
}
.product__link:nth-of-type(1):active {
  background: var(--basic-blue_blue);
  color: var(--basic-white_opacity);
}
.product__link:nth-of-type(2) {
  width: 142px;
  height: 22px;
  background: var(--basic-brown);
}
.product__link:nth-of-type(2):hover {
  background: var(--basic-brown_brown);
}
.product__link:nth-of-type(2):active {
  background: var(--basic-darkbrown);
  color: var(--basic-white_opacity);
}

.catalog__item:nth-child(1)::before {
  content: "";
  width: 91px;
  height: 17px;
  background: url(../img/icons/groupstars_1.svg) no-repeat;
  position: absolute;
  left: 1038px;
  top: 29px;
}
.catalog__item:nth-child(2)::before {
  content: "";
  width: 66px;
  height: 17px;
  background: url(../img/icons/groupstars_2.svg) no-repeat;
  position: absolute;
  left: 1063px;
  top: 29px;
}
.catalog__item:nth-child(3)::before {
  content: "";
  width: 42px;
  height: 17px;
  background: url(../img/icons/groupstars_3.svg) no-repeat;
  position: absolute;
  left: 1087px;
  top: 29px;
}
.product__text {
  justify-self: end;
  height: 23px;
  width: 110px;
  color: var(--basic-darkgray);
  background: var(--basic-new_gray);
  padding-top: 4px;
  margin: 93px 0 0;
  text-align: center;
}

/*--------------------- footer -----------------*/
/*main-footer*/
.main-footer {
  z-index: 1;
  height: 120px;
  width: 100%;
  margin-top: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  line-height: 26px;
  color: var(--basic-black);
  background: var(--basic-opacity);
}
.tel {
  width: 200px;
  margin-left: 136px;
  text-align: center;
}
.tel__text {
  margin: 23px 0 9px;
  padding: 0;
}
 .tel, .tel a {
  font-size: 21px;
  text-decoration: none;
  color: var(--basic-black);
  font-weight: 700;
}
.social {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 6px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 46px;
  background: var(--basic-blue);
}
.social__item:nth-child(1) a {
  background: url(../img/icons/twitter.svg) no-repeat center center;
  color: transparent;
}
.social__item:nth-child(2) a {
  background: url(../img/icons/fb-icon.svg) no-repeat center center;
  color: transparent;
}
.social__item:nth-child(3) a {
  background: url(../img/icons/youtube.svg) no-repeat center center;
  color: transparent;
}
.copyright {
  justify-self: end;
  width: 204px;
  margin-right: 132px;

  display: flex;
  justify-content: space-between;
  margin-top: 43px;
}
.copyright__text {
  margin: 0;
  padding: 0;
}
.social__item:hover {
  box-shadow: 0px 5px 15px var(--basic-lite_gray);
  border: 1px solid var(--basic-blue)
}
